* {
  margin: 0;
  padding: 0;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}
.container {
  display: grid;
  grid-template-rows: repeat(2, max-content);
}
.container .page-title {
  font-family: OldLondon;
  color: white;
  padding: 20px;
  font-size: 60px;
  place-self: center;
}
.news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  justify-items: stretch;
  gap: 10px 10px;
  margin: 0 40px;
}
main {
  height: 500px;
  width: 300px;
  display: grid;
  grid-auto-rows: auto;
  /* grid-template-rows: 70px 60px 190px 90px 70px; */
  gap: 10px 10px;
}
.title {
  text-align: left;
  color: white;
}
.title h3 {
  color: white;
}
p {
  color: white;
}
img {
  width: 300px;
  height: 200px;
  margin-bottom: -4px;
  object-fit: cover;
  border-radius: 5%;
  border: 5px solid grey;
}
img:hover img {
  top: -10px;
  box-shadow: rgb (0, 0, 0);
}

a {
  color: black;
  text-decoration: none;
}
.title a:hover h3 {
  color: #ff9aa2;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -90px;
  left: 90px;
  /*Position the tooltip*/
  position: relative;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.extra {
  font-size: 12px;
  color: grey;
  margin: 10px 0px;
}
.description p {
  font-style: italic;
  height: fit-content;
  color: grey;
  font-size: 14px;
}
.search {
  margin-bottom: 30px !important;
  color: white;
}
.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}
html {
  background-color: black;
}
.inputadorements p {
  color: white;
}
